.App{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
span{
    color: #bebcbc;
}
  .textmsg{
    margin-left: 40px;
    /* margin-top: 40px; */
  }
  
  .textmsg p{
    /* /* display: inline-block; */
    position: relative; 
    /* color: 
  #000000; */
  }
  
  .textmsg p:after {
    content: '';
    position: absolute;
    width: 0;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #000000;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .textmsg p:hover:after {
    width: 80%;
    transform: scaleX(1);
    transform-origin: center;
  }